<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col">
            <app-countries-searcher [placeholder]="placeholder" (onEnter)="search($event)" (onDebounce)="suggestion($event)"></app-countries-searcher>
        </div>
    </div>
</div>

<hr>

<div *ngIf="isError" class="alert alert-danger">
    No se encontró ningun resultado para el criterio de búsqueda ingresado
</div>

<div *ngIf="countries.length > 0" class="row">
    <div class="col">
        <app-countries-table [countries]="countries"></app-countries-table>
    </div>
</div>